.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.products {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
  height: 50%;
}
.products_header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 12px;
}
.products_header > input {
  width: 400px;
  padding-inline: 6px;
  height: 100%;
  border: 1px solid #eee;
}

